#Ignore files
*.sh
*.class
*.gpg

#Ignore Data in AutoGen Folder
OrderAutoGenerator/OrderItem.csv
OrderAutoGenerator/SoldItem.csv
OrderAutoGenerator/__pycache__

#Ignore .json in .vscode
.vscode/

#Ignore bin
/GUI/bin/

#Ignore computer specific compile scripts
/GUI/src/localCompile.ps1
/GUI/Makefile

# Ignore documentation
/doc/
/docs/
/GUI/doc/
/GUI/docs/
